%p#notice= notice

%h1= @showing.movie.name
%h3
	Playing on
	= @showing.day
	At
	= @showing.hour

%em Click on a seat to purchase it.
%br
%em Tickets in yellow have already been purchased.
%br
%br

Number of tickets available: 
=@showing.tickets.where(:user_id => nil).length

%br
Price: $7.00
%br
Seats available: 
%div.all_seats
	-@showing.tickets.sort.each do |ticket|
		%div.seat{:id => "#{ticket.seat_number}"}
			-if ticket.user_id == nil 
				= link_to ticket.seat_number, "/tickets/#{ticket.id}", :remote => true
			-else 
				= ticket.seat_number



%br
%br
%br
= link_to "Back to All Showings for #{@showing.movie.name}", "/movies/#{@showing.movie.id}"