<h1>Sign Up for Thrillr!</h1>

<%= form_for(@user) do |f| %>

	<div class="field">
	  <%= f.label "Name (first and last):" %> <br/>
	  <%= f.text_field :name %>
	</div>

	<div class="field">
	  <%= f.label "Email (this will be your username):" %> <br/>
	  <%= f.text_field :email %>
	</div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign Up!" %>
  </div>
  
<% end %>